
/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*Default Styling*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

.heading {
    color: black;
    margin-bottom: 10px;
    font-size: 28px;
}

.favouriteButton {
    margin-bottom: 15px;
    text-align: center;
}

.favouriteButton button {
    font-size: 10px;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
}

.heart{
    vertical-align: middle;
    width: 20px;
    
}

.favouriteButton button:hover,
.favouriteButton button:active {
    background-color: #ffe2ed;
  }